{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TestObject</h1>

    {% for entity in entities %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Testfield</th>
                <td>{{ entity.testField }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('testobject') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('testobject_show', { 'id': entity.id }) }}">
            Show
        </a>
    </li>
</ul>
    {% endfor %}
{% endblock %}
